body{
  background-color: hsla(204, 68%, 91%, 0.5);
} 

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-title {
  color: #2c3e50;
  margin-bottom: 2rem;
}

.login-form {
  width: 100%;
  margin-bottom: 50px;
  margin-top: 30px;
}

.login-button {
  margin-top: 10px;
  background-color: #4991b6;

}

.google-button {
  margin-top: 20px;
  background-color: #fff;
  color: #5585b9;
}
